.b1{
  background-color: white;
}

.header1{
  background-color: #6A7660;
  height: 140px;
  width: auto;
}

#img1{
  height: 100px;
  width: 300px;
  margin: auto;
  margin-top: 20px;
}

.p1{
  margin-top: 20px;
}

.btn1{
  margin-top: 10px;

}


.p3{
  /*height: 400px;*/
}

.p2{
  /*height: 400px;*/
}
